// ----------------------------------------
//     Dashboard Home
// ----------------------------------------

.container {
    width: 100%;
    display: grid;
    background-color: #F4F4F4;
    grid-template-columns: 40rem 1fr;
    grid-template-rows: auto;
    position: relative;
}

// bottom Pic
.back-dot {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;

    img {
        height: 55rem;
        width: 100%;
    }
}

// ----------------------------------------
//     Sidebar
// ----------------------------------------

.sidebar {
    width: 100%;
    position: relative;
    z-index: 900;

    &__wrap {
        position: fixed;
        height: 73rem;
        top: 15rem;
        left: 0;
        z-index: 940;
        padding-left: 9rem;
        background-color: $color-white;
        max-width: 40rem;
        width: 100%;
    }

    &__heading {
        margin-top: 12rem;
        color: $color-yellow;
        font-size: 2.5rem;
    }

    &__list {
        font-size: 2.5rem;
        margin-top: 4.5rem;

        &>ul>li {

            &:not(:last-child) {
                margin-bottom: 4.5rem;
            }

            &>ul {
                margin-top: 2.5rem;
                padding-left: 3rem;

                & li {
                    font-size: 2rem;

                    &:not(:last-child) {
                        margin-bottom: 2.5rem;
                    }
                }
            }

            a {
                position: relative;
                transition: all .3s;
            }

            a::before {
                content: "";
                position: absolute;
                bottom: -5px;
                left: 0;
                width: 0;
                height: 2px;
                background: $color-yellow;
                opacity: 0;
                visibility: hidden;
                transition: all .4s cubic-bezier(0.68, -0.55, 0.465, 1.55);
            }

            a:hover {
                color: $color-yellow;
            }

            a:hover::before {
                width: 100%;
                opacity: 1;
                visibility: visible;
            }
        }
    }
}

// ----------------------------------------
//     Main Side
// ----------------------------------------

.main {
    position: relative;
    padding: 2.5rem 0;
    padding-top: 0;
    z-index: 2; 


    // ----------------------------------------
    //     Progress Boxes Container
    // ----------------------------------------

    &__prog {
        padding: 2.5rem 7rem;
        padding-bottom: 7rem;
        background: url('../img/background-dot.svg') no-repeat center center/cover;
        

        &--title {
            font-size: 2rem;
            font-family: $font-gilroy-regular;
            margin-bottom: 3rem;
        }

        &--content {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
            grid-gap: 1.8rem;
        }

        &--box {
            padding: 2rem;
            background: #fff;
            border: 1px solid rgba(112, 112, 112, 0.25);
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
            height: 26rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            &>div {
                display: grid;
                grid-template-columns: 1fr;
                justify-content: center;
            }

            & p {
                font-size: 2.5rem;
                margin-bottom: 5.3rem;
            }
        }

        &--line {
            width: 30rem;
            height: 1rem;
            background-color: #DEDEDE;
            border-radius: 15px;
            position: relative;
            overflow: hidden;
            margin-bottom: 4rem;

            @media only screen and (max-width: $bp-1600){
                width: 90%;
            }

            &>span {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 47%;
                border-radius: 15px;
                z-index: 3;
                background-color: $color-yellow;
            }
        }
    }

    // ----------------------------------------
    //     Main Dashboard Gallery
    // ----------------------------------------

    &__gallery {
        margin-bottom: 7rem;
        padding: 0 7rem;

        &--heading {
            margin-bottom: 2rem;

            h2 {
                color: $color-dark-blue;
                font-size: 2.5rem;
            }
        }

        &--box {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-gap: 1.6rem;

            &>div {
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }

    // ----------------------------------------
    //     Section Devis express
    // ----------------------------------------

    &__devis {
        padding: 0 7rem;

        &--heading {

            h2 {
                font-size: 2.5rem;
                color: $color-dark-blue;
            }
        }

        &--box {
            margin-top: 2.2rem;
            width: 100%;
            height: 34.5rem;
            background: url('../img/img-6.png') no-repeat center center/cover;
            @include flex-col-center;

            h1 {
                font-size: 8rem;
                color: $color-white;
            }

            button {
                width: 40rem;
                height: 8rem;
                border-radius: 50px;
                background: $color-yellow;
                font-size: 4rem;
                font-family: $font-gilroy-bold;
                margin-top: 3.2rem;

                a {
                    color: $color-white;
                    position: relative;
                    z-index: 23;
                }

                position: relative;
                overflow: hidden;


                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    @include width-height-100;
                    background: #ff4b1f;
                    background: -webkit-linear-gradient(to right, #ff9068, #ff4b1f);
                    background: linear-gradient(to right, #ff9068, #ff4b1f);
                    transform: scale(0) rotate(-120deg) skew(10deg);
                    transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1);
                    opacity: 0;
                    visibility: hidden;
                    z-index: 0;
                }

                &:hover::before {
                    opacity: 1;
                    visibility: visible;
                    transform: scale(1.3) rotate(0) skew(0deg);
                }
            }
        }
    }

}


.offset-top{
    margin-top: 90rem;
}